html,
body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.seq-icon-margin {
  text-align: left;
}

.transparent-bg {
  background: transparent !important;
}

.centering {
  text-align: center;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.hover-menu-link {
  transition: all 0.2s ease-in-out;
}

.hover-menu-link:hover {
  color: white;
  background: #1976d2;
}
.hover-menu-active {
  color: white;
  background: #1976d2;
}
.delete-project-grow {
  transition: all 0.2s ease-in-out;
}

.delete-project-grow:hover {
  transform: scale(1.3);
}

.dialog-card {
  width: 100%;
  max-width: 500px;
}
.dialog-margin {
  margin-top: -200px;
}

.just-end {
  justify-content: flex-end;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.bg-spinner-margin {
  margin-top: -5px;
}

.sequencer-header-class {
  background: #080808;
}
